<mat-card>
  <form #boatForm="ngForm" (ngSubmit)="save(boatForm.value)">
    <mat-card-header>
      <mat-card-title><h2>{{boat.name ? 'Edit' : 'Add'}} Boat</h2></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <input type="hidden" name="href" [(ngModel)]="boat.href">
      <mat-form-field>
        <input matInput placeholder="Boat Name" [(ngModel)]="boat.name"
               required name="name" #name>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit"
              [disabled]="!boatForm.form.valid">Save</button>
      <button mat-raised-button color="secondary" (click)="remove(boat.href)"
              *ngIf="boat.href" type="button">Delete</button>
      <a mat-button routerLink="/boat-list">Cancel</a>
    </mat-card-actions>
    <mat-card-footer>
      <div class="giphy">
        <img src="{{boat.giphyUrl}}" alt="{{boat.name}}">
      </div>
    </mat-card-footer>
  </form>
</mat-card>
