<div class="charters-container">
  <h2 class="page-title">Lista rezerwacji</h2>

  <div class="charters-grid">
    <mat-card class="charter-card" *ngFor="let charter of charters">
      <mat-card-header>
        <mat-card-title>{{ charter.charterName }}</mat-card-title>
        <mat-card-subtitle>{{ charter.boat.boatName }}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <div class="charter-details">
          <div class="detail-item">
            <mat-icon>location_on</mat-icon>
            <span>Port: {{ charter.port }}</span>
          </div>

          <div class="detail-item">
            <mat-icon>event</mat-icon>
            <span>Od: {{ charter.startCharter | date:'dd/MM/yyyy' }}</span>
          </div>

          <div class="detail-item">
            <mat-icon>event_busy</mat-icon>
            <span>Do: {{ charter.endCharter | date:'dd/MM/yyyy' }}</span>
          </div>
        </div>

        <p class="description">{{ charter.description }}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
